ArchivedBuilds/
Intermediate/
Saved/
.vs/
Binaries/
DerivedDataCache/
Distributions/

Build/**/FileOpenOrder

*.opendb
*.sdf
*.sln
.gradle
*.VC.db
*.xcworkspace
*.sublime-workspace
*.ipa
*.PackageVersionCounter
*.mo

sh.exe.stackdump

Scripts/ContentBuilder/builder/*
!Scripts/ContentBuilder/builder/steamcmd.exe
Scripts/ContentBuilder/output

!/Build
/Build/*
!/Build/IOS
/Build/IOS/*
!/Build/IOS/PakBlacklist-*.txt
PackagedGame/
